<template>
<div id="Observe">
  <p>{{ Alice }}</p>
  <p :value="a"></p>
  <button v-stream:click="plus$">+</button>
</div>
</template>

<script>
import Rx from 'rxjs/Rx'

export default {
  name: 'Observe',
  domStreams: ['plus$'],
  data () {
    return {
      Alice: 'alice',
      a: 1
    }
  },
  subscriptions () {
    return {
      aPlusOne: this.$watchAsObservable('a')
        .pluck('newValue')
        .map(a => a + 1),
      msg: Rx.Observable.of(1, 2, 3),
      count: this.plus$.map(() => 1)
        .startWith(0)
        .scan((total, change) => total + change)
    }
  }
}
</script>

<style lang="less" scoped>

</style>

