<style lang="less" scoped>

</style>

<template>
    <Card :bordered="false">
        <p slot="title">No border title</p>
        <p>Content of no border type. Content of no border type. Content of no border type. Content of no border type. </p>
    </Card>
</template>

<script>
export default {
  name: 'Post',
  data () {
    return {

    }
  }
}
</script>
