<style lang="less" scoped>
.layout {
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  /* position: relative; */
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.center {
  height: 80%;
}

.center-sider {
  background: #2b3137;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b3137;
}

.session-box {
  width: 22rem;
  height: 30rem;
  background: #fafbfc;
}

.form {
  margin: 3%;
  display: flex;
  flex-flow: column;
}
</style>

<template>
    <Layout class="layout">
        <Header>Header</Header>
        <Layout class="center">
            <!-- <Sider width=400 class="center-sider" hide-trigger>Sider</Sider> -->
            <Content class="content">
              Content
                <Card class="session-box">
                <Tabs @on-click="tabView" v-model="tabName" size="small">
                    <TabPane label="sign in" name="SessionIn">Sign in</TabPane>
                    <TabPane label="sign up" name="SessionUp">Sign up</TabPane>
                </Tabs>
                <router-view></router-view>
                </Card>
            </Content>
        </Layout>
        <Footer>Footer</Footer>
    </Layout>
</template>

<script>
import SessionIn from './SessionIn'
import SessionUp from './SessionUp'

export default {
  name: 'Session',
  components: { SessionIn, SessionUp },
  data () {
    return {
      tabName: this.$route.name
    }
  },
  methods: {
    tabView (name) {
      this.$router.push({name: name})
    }
  },
  mounted () {
    // this.$router.push({name: 'SessionIn'})
    console.log(this.$route)
  }
}
</script>
