<style lang="less" scoped>

</style>

<template>
  <Dropdown style="margin-left: 20px" @on-click="clickDropDownMenu">
      <Button type="primary">
          {{ username }}
          <Icon type="arrow-down-b"></Icon>
      </Button>
      <DropdownMenu slot="list">
          <DropdownItem name="test-name"> {{ testName }} </DropdownItem>
          <DropdownItem divided name="sign-out">Sign out</DropdownItem>
      </DropdownMenu>
  </Dropdown>
</template>

<script>
import { mapActions } from 'vuex'

import axios from '@/axios'
import { APIS } from '@/constant/api'
import user from '@/store/user'

export default {
  name: 'UserDropDown',
  props: {
    testName: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      username: this.$store.state.user.name
    }
  },
  methods: {
    clickDropDownMenu (name) {
      if (name === 'sign-out') {
        this.signOut()
      } else if (name === 'test-name') {
        axios.request(APIS.getUser(user.state.id))
          .then(response => {
            const userProfile = response.data.data

            this.$Notice.open({
              title: 'Access Success!',
              desc: `username: ${userProfile.name} id: ${userProfile.id}`,
              duration: 10
            })
          })
          .catch(error => {
            console.log(error)
            this.$Message.error('request error')
          })
      }
    },
    signOut () {
      this.deleteSession()
      this.$router.push({name: 'SessionIn'})
    },
    ...mapActions(['deleteSession'])
  }
}
</script>
